<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form enctype="multipart/form-data">
      <ul>
        <li>
          <label for="tweet">tweet</label>
          <input type="text" name="tweet" id="tweet" />
        </li>
        <li>
          <label for="tweet_photo">tweet photo</label>
          <input type="file" name="tweetPhoto" id="tweet_photo" />
        </li>
        <li><button class="submit">Submit</button></li>
      </ul>
    </form>

    <script>
      const form = document.querySelector('form');

      form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const tweet = JSON.stringify(form.tweet.value);
        const tweetPhoto = form.tweetPhoto.value;

        try {
          const response = await fetch('create-tweet', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Content-Type': 'multipart/form-data',
            },
            body: { tweet, tweetPhoto },
          });
        } catch (error) {}
      });
    </script>
  </body>
</html>
